main {
  display: flex;
  justify-content: center;
}

.Login,
.SignUp {
  width: 20%;
}

.login-form-button,
.signup-form-button,
.signup-confirm-form-button {
  width: 100%;
}

a {
  margin-top: 5px;
  float: right;
}

search-help {
  font-weight: 700;
}
